.screen{
    width: 470px;
    height: 600px;
    border: 1px;
    background-color: rgb(9, 123, 155);
    margin-left: 355px;
    
}
.output{
    
    padding-top: 20px;

}
#in{
    height: 20px;
    width: 321px;
    margin-left: 68px;
    height: 47px;
}
.button{
    
    margin-left: 69px;
    margin-top: 30px;
   
}
.btn{
    width: 430px;
    margin-top: 30px;
}
.btns{
    width: 50px;
    height: 30px;
    margin-left: 50px;
}